*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.grit-low .left-side{
    width: 45%;
    padding: 130px 0px;
}
.grit-low .right-side{
    width: 45%;
    padding: 80px 0px;
}
.grit-low .left-side h2{
    font-size: 58px;
    margin-bottom: 30px;
    width: 100%;
}
.grit-low .left-side p{
    color: #1E1B1B;
    font-size: 16px;
    opacity: 0.6;
    width: 80%;
}
.orange-btn{
background-color: #FF6433;
text-decoration: none;
padding: 16px 40px;
color: white;
border-radius: 12px;
display: inline-block;
margin-top: 30px;
}
.grit-low .right-side .flexin{
    display: flex;
}
.grit-low .right-side .image-box{
    width: 10%;
    margin-top: 20px;
}
.grit-low .right-side .image-box img{
    width: 100%;
}
.grit-low .right-side .text-box{
    margin-left: 40px;
    width: 90%;
}

.grit-low .right-side .text-box h4{
    font-size: 32px;
    margin-bottom: 10px;
    margin-top: 30px;
}
.grit-low .right-side .text-box p{
    font-size: 18px;
    color: #1E1B1B;
    opacity: 0.6;
    width: 75%;
}
.grit-low .right-side .border{
    border-left: 2px dotted #FF6433;
    height: 50px;
    margin-top: 80px;
    margin-left: -25px;
}
.grit-low .right-side .border1{
    border-left: 2px dotted white;
    height: 50px;
    margin-top: 80px;
    margin-left: -25px;
}
.grit-medium{
    background-color: #F2F2F2;
}
.grit-medium .up-prt{
    text-align: center;
    padding: 70px 0 40px 0;

}
.grit-medium .up-prt h4{
    font-size: 24px;
    color: #1E1B1B;
}
.grit-medium .up-prt h2{
    font-size: 58px;
    color: #1E1B1B;
    width: 80%;
    margin-left: 90px;
}
.grit-medium .icon{
    width: 316px;
    height: 150px;
    background-color: #fff;
    border: 2px solid #F2F2F2;
    text-align: center;
    padding: 40px;
}
.grit-medium .wheel{
    width: 316px;
    height: 150px;
    background-color: #FF6433;
    color: #fff;
    border: 2px solid #F2F2F2;
    text-align: center;
    padding: 40px;
}
.grit-medium .dwn-prt{
    display: flex;
    padding: 30px 0 30px 780px;
}
.grit-medium .dwn-prt p{
    font-size: 18px;
    font-weight: bold;
}
.grit-medium .dwn-prt img{
    margin-left: 15px;
}
.grit-full .image{
    height: 70vh;
}
.grit-full .image img{
    width: 100%;
    height: 100%;
}
.grit-full .txt-prt{
    height: 30vh;
    background-color: #F2F2F2;
}

.grit-full .num-prt{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grit-full .num-prt .text{
    align-items: center;
     padding: 40px 50px;
}
.grit-full .num-prt .text h2{
    font-size: 58px;
    color: #661CE7;
}
.grit-full .num-prt .text p{
    font-size: 24px;
    color: #1E1B1B;
}
.grit-eva{
    height: 100vh;
}
.grit-eva .upp-prt h3{
    font-size: 48px;
    text-align: center;
    padding: 100px 0px 50px 0px;
}
.grit-eva .logo{
    width: 15%;
}

.grit-eva .logo img{
    width: 100%;
}

.customer{
    background-color: #F2F2F2;
    padding: 40px 80px;
    height: 100vh;
}

.customer h3{
    font-size: 48px;
    text-align: center;
    margin-bottom: 40px;
}

.customer .flexing{
    display: flex;
    justify-items: center;
}

.customer .flexing img{
    width: 15%;
    padding-bottom: 20px;
}
.customer .text{
    padding: 10px 0px 0px 10px;
}
.customer .prt1, .customer .prt2{
    width: 48%;
    background-color: #fff;
    padding: 40px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.customer .text p{
    font-size: 16px;
    color: #939191;  
}

.customer .prt1 .p, .customer .prt2 .p{
    font-size: 24px;
    width: 100%;
}
.customer .lines{
    margin-left: 460px;
}

.faq{
    min-height: 100vh;
    background-color: #E2E6E9;
    padding: 20px 100px;
}
.faq .stub{
    font-size: 48px;
    text-align: center;
    padding: 40px 0px;
}

.faq .question1{
    background-color: #fff;
    font-size: 24px;
    border: 4px solid #E2E6E9;
    width: 100%;
    padding: 18px;
    text-align: left;

}

.plus{
    background-color: #FF6433;
    color: #fff;
    text-align: right;
    padding: 3px; 
}

.minus-sign{
    background-color: #FF6433;
    color: #fff;
    text-align: right;
    padding: 5px; 
}

.minus{
    display: flex;
    justify-content: space-between;
}

.faq .question{
    background-color: #fff;
    font-size: 24px;
    border: 4px #E2E6E9 solid;
    color: #1E1B1B;
    font-weight: 600 lighter;
    width: 100%;
    padding: 18px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.faq .question1 p{
    width: 95%;
    font-size: 18px;
    color: #939191;
    margin-top: 10px;
    text-align: left;
}
/* contact-section */
.contact{
    height: 80vh;
    background-color: #1E1B1B;
    opacity: 0.98;
    color: #fff;

}
.contact .upper{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.contact .upper .side-1, .contact .upper .side-2{
    width: 48%;
}
.contact .upper .side-1 h3{
    font-size: 48px;
    padding: 40px 0;
    margin-top: 20px;
}
.contact .upper .side-1 .s-m{
    display: flex;
}
.contact .upper .side-1 .s-m .media{
    margin-right: 20px;
}

.contact .upper .side-2 p{
    opacity: 0.6;
    margin-bottom: 10px;
    font-size: 18px;
}

.contact .upper .side-2 h4{
    font-size: 24px;
    width: 100%;
}

.contact .upper .side-2 .number{
    margin-top: 80px;
}

.contact .upper .side-2 .number, .contact .upper .side-2 .address, .contact .upper .side-2 .open{
    margin-bottom: 25px;
}

.footer{
    background-color: #1E1B1B;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    align-content: center;
}

.footer .service ul{
    display: flex;
    list-style: none;
}

.footer .service ul li{
    margin-right: 20px;
}

.footer .service ul li a{
    text-decoration: none;
    color: #fff;
}